<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>UILaunchScreen</key>
    <dict>
        <key>UIColorName</key>
        <string>SystemBackgroundColor</string>
    </dict>
    <key>UIInterfaceOrientation</key>
    <string>UIInterfaceOrientationLandscapeLeft</string>
    <key>UIApplicationSupportsMultipleScenes</key>
    <false/>
    <key>UIRequiresFullScreen</key>
    <true/>
    <key>CFBundleIconName</key>
    <string>AppIcon</string>
</dict>
</plist>
